.HotPanel {

}
.title{
    color:#000;
}
.title:hover {
    color: #1458d4;
}


.imgContainer {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.imgContainer img {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.imgContainer:hover img {
    border-radius: 4px;
    transform: scale(1.2);
}
