.ArticleList {
    padding-bottom: 1em;
    background: #fff;
    color: #000;
    border-top: 1px solid #f0f1f3;
}

.Article-Card {
    padding: 1em 1em 0 0;
    color: #000;
    text-align: match-parent;
}

.Article-Card:hover {
    background: #f5f6f6;
    -webkit-transition: background-size .2s linear;
    transition: all .2s linear;
}

.title{
    color:#000;
}
.title:hover {
    color: #1458d4;
}

.imgContainer {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.imgContainer img {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.imgContainer:hover img {
    border-radius: 4px;
    transform: scale(1.2);
}
