.Header {
    background: #000;
    color: green;
    padding: 0;
    margin: 0;
}

.icon-header {
}

.logo-img {
    height: 2em;
    margin-right: 1em;
}

.span-login {
    color: green;
}

.mr-auto > a {
    color: green;
}

.buttonWrite {
    background: #000;
    color: green;
}

.headerTitleSpan {
    font-weight: normal;
    color: gray;
}

.headerTitleSpan:hover {
    color: rgb(75, 166, 127);
}

