.Write {
    padding: 0em;
    margin: 0;
}

.editor{
    margin-left: 60px !important;
}

.label{
    border: none !important;
    background: #fff !important;
}
.input{
    border: none !important;
    background: #fff !important;
    border-bottom:solid 1px #e3e3e3 !important;
}
